body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;

}
.nav_text {
}
.container {
    padding: 20px;
    margin: 20px;
}
.row {
}
.col-8 {
    color: #ffffff

}
.col-4 {
    color: #ffffff
}
.col-9 {
    color: #ffffff

}
.logo {
    background: url(../image/vs.png) no-repeat center center;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.img_size {
    background: url(../image/anon.jpg) no-repeat center center;
    background-size: 100%;
    width: 300px;
    height: 180px;
}
.nav_text{
    display: flex;
    align-items: center;
    justify-content: right;
}
.title_photo {
    font-size: 20px;
    font-weight: normal;
}
.button_js{
    text-align: center;
}
#myButton{
    border: none;
    border-radius: 25px;
    width: 200;
    height: 70;
    background-color: 988160
    color: #123
    font-weight: bold;
}
#demo img{
    margin-top: 20px;
    width: 20%;
}