.btn_reg {
    border: none;
    border-radius: 25px;
    width: 180px;
    height: 40px;
    background-color: #982220;
    color: #123;
    font-weight: bold;
}

.col-12.reg {
    color: #007bff; 
    text-align: center;
    margin-bottom: 30px; 
}
.col-12.log {
    color: #007bff; 
    text-align: center;
    margin-bottom: 30px; 
}
.col-12.post {
    text-align: center;
}
.row.form_reg{
    margin: 5px;        
}

body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;

}
.col-12.auth{
    color: #ffffff
}
.col-12.prof{
    color: #007bff; 
    text-align: center;
    margin-bottom: 30px; 
}

.container {
    padding: 20px;
    margin: 20px;
}

.col-8 {
    color: #ffffff

}
.col-4 {
    color: #ffffff
}
.col-9 {
    color: #ffffff

}
.logo {
    background: url(../image/vs.png) no-repeat center center;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.img_size {
    background: url(../image/anon.jpg) no-repeat center center;
    background-size: 100%;
    width: 300px;
    height: 180px;
}
.nav_text{
    display: flex;
    align-items: center;
    justify-content: right;
}
.title_photo {
    font-size: 20px;
    font-weight: normal;
}
.button_js{
    text-align: center;
}
#myButton{
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 70px;
    background-color: #988160;
    color: #123;
    font-weight: bold;
}
#demo img{
    margin-top: 20px;
    width: 20%;
}